<%- include("../partials/header") %>
<!DOCTYPE html>
<html> 
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,');
            body{
                margin: 0;
                padding: 0;
                font-family: 'Poppins',sans-serif;
                background: black;
            }
            .container{
                width: 1200px;
                margin: 20px auto;
                columns: 4;
                column-gap: 40px;
            }
            .container .box{
                width: 100%;
                margin: 0 0 20px;
                padding: 10px;
                color: #ffffff;
                overflow: hidden;
                break-inside: avoid;
            }
            .container .box img{
                max-width: 100%;
            }
            .container .box h2{
                margin: 10px 0 0;
                padding: 0;
                font-size: 20px;
            }
            .container .box p{
                margin: 0;
                padding: 0 0 10px;
                font-size: 16px;
            }
            @media(max-width: 1200px){
                
                .container{
                columns: 3;
                width: calc(100% - 40px);
                box-sizing: border-box;
                padding: 20px 20px 20px 0;
            }
            }
            @media(max-width: 768px){
                
                .container{
                columns: 2;
            }
            }
            @media(max-width: 480px){
                
                .container{
                columns: 1;
            }
            }
        </style>
    </head>
    <body>
      <div class="container">
          <h1>New images</h1>
<div class="box">
แสดงภาพ
<h2>ชื่อ</h2>
<p>คำอธิบาย</p>
</div>
      </div>
    </body>
</html>