<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://images.hdqwalls.com/wallpapers/sunrise-morning-landscape-5k-rd.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
button{width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;}

  .center {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100px;
  
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    THE IMAGES 
  </div> 
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">WELCOME</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">website is ready.</p>

     <div class="center">
        <button><a href="/home">Preview website</a></button>
  </div>

</div>
  
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="" target="_blank">405&454</a>
  </div>


</body>
</html>